<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
     {{ title }}
  </h1>

  <app-todolist></app-todolist>


<h4>
  {{Obj.name}}
</h4>

<ul>
  <li *ngFor="let i of arr">{{i}}</li>
</ul>

<p *ngIf="!isTrue" style="color:red;">OTP has sent to you.</p>

<p *ngIf="myName=='vibhuti'"  style="color:green;">True</p>




<p *ngIf="myName=='vibhuti' then firstTemp else secondTemp"  style="color:green;"></p>


<ng-template #firstTemp> this is my first template ! <span>(:</span></ng-template>
<ng-template #secondTemp>this is my second template ! <span>(:</span></ng-template>


<a routerLink="/product">Product</a>
<a routerLink="/member">Member</a>

<br>

<router-outlet></router-outlet>

</div>
