<p>
<button type="button" routerLink="">< Back</button>
</p>

<h2>Add New Product</h2>

<form id="formNewProduct" name="formNewProduct" #productData = "ngForm" (ngSubmit) = "addNewProduct(productData.value)">
  <label>Name</label> <input type="text" name="name" id="name" placeholder="name" ngModel>
  <p></p>
  <label>Color</label> <input type="text" name="color" id="color" placeholder="color" ngModel> <br>
  <p></p>
  <input type="submit"  value="Add Product">

</form>


<p></p>

<h4 *ngIf="isAdded">{{confirmationString}}</h4>
